:root {
    --amarilloch:#ffa41f;
    --rojoch:#dc3545;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}


html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

@media only screen and (max-width: 480px) and (max-width: 760px){



    .contenedor{
        position: absolute;
        top: 0;
        margin: 1rem auto;
        padding: 0;
        width: 100%;
        height: 18%
    }
    header img{
        top: 0;
        left: 0;
        width: 180px;
        height: 180px;
    }
    
    header h1{
        text-align: center;
        text-justify: inter-word;
        margin: 4rem auto 0;
        font-size: 1.8em;
        padding: 0 !important;
    }

    .cont-bg{
        display: flex;
        justify-content: space-between,center;
    }

    .head-bg{
       margin-top: 0;
    }

    body{
        max-width: 100%;
        max-height: 100%;
    }

    ul{
      color: #000;
      display: flex !important;
      flex-direction: column !important;
      grid-gap: 1em;
      align-items: center;
    }

    .cd-container{
        margin-right: 5rem;
        padding-bottom: 8rem;
    }

    .show{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 100%;
        max-width: 100%;
        line-height: 0rem;
    }

    .car-i{
        margin: 1rem  auto;
        width: 5em;
        height: 5rem;
    }

    .t-show{
        margin-bottom: 3rem;
        margin-left: 1rem;
        line-height: 1.5em;
        font-weight: 750;
        
    }

    .prev{
        visibility: hidden !important;
        z-index: -1;
    }

    .next{
        visibility: hidden !important;
    }

    main p{
        font-weight: 500;
    
    }

    .principal{
        max-width: 100%;
        max-height: 100%;

    }

    .sec-wrap{
        overflow: visible;
        margin: 8rem 3rem !important;
        max-width: 100%;
        max-height: 100%;    
        display: flex !important;
        flex-direction: column !important;
       
    }

    #gdl{
        margin-top: 18rem !important;
    }

    iframe{
        max-width: 300px;
        max-height: 300px;
        margin-right: 2rem;
        left: 0 !important;

    }

    footer img{
        visibility: hidden;
    }

    footer p{
        margin-right: 1rem;
    }
}

/* .cul_h1{

    color: var(--rojoch);
    padding-left: 20rem;
    position: absolute;
    z-index: 1;
    font-family: 'Plus Jakarta Sans', sans-serif;
    bottom: 52rem;
    font-size: 18px;
    font-weight: lighter ;
} */

/* h1.mochis_h1 */

.principal h3{
    font-size: 1.1em;
    font-weight: 700;
    color: var(--amarilloch);
}
.principal h2{
    color: var(--rojoch);
}

.principal p{
    color: #666;
    line-height: 1.4em;
    font-weight: 500;
}



/* ----------------CONTENIDO PRINCIPAL----------- */
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:16px;
    line-height: 1;
    
}

.contenedor{
    position: absolute;
    top: 0;
    margin: 0 auto;
    padding: 0 15px ;
    width: 100%;
    
}


.cont-bg{

    display: flex;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 1px 3px rgb(0 0 0 / 11%); 
}

.head-bg{

    background-color: rgba(255,255,255,0.95);
}
/* .head-bg{

} */

header img{
    max-width: 150px;
    height: 150px;
/* margin: 0 auto;
    width: 11%;
    image-rendering: auto;   */
    
}

header h1{
    
    margin: 5rem auto 0;
    padding-right:12rem ;
    color: var(--amarilloch);
    /* position: center;
    margin:10rem 0 auto 33rem; ------------se vuelve a poner
    color: var(--amarilloch); */
}


.cd-container{
    /* margin: 6rem auto -4rem ; */
   margin-top: 4rem;
   margin-bottom: 8rem;   
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

a{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: #666;
    font-weight: 700;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{    

    padding: 3px;
    border: 2px solid #d71227;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: .3s;
    color: var(--amarilloch);
}


.show{
    width: 150rem;
    margin: 170px auto 0 auto;
    display: flex;
    background-color: #d71227 ;
    justify-content: center;
    box-shadow: 5px 10px 18px #888888;
}

.t-show{
    color: var(--amarilloch);
    margin-top: 40px
}



main{
    width: 120rem;
    /* display: flex;
    flex-direction: column; */
 }

.principal{
   margin: -9rem auto;
}

.prev .next{
    visibility: hidden;
}

.wrap{
    border-radius: 20px;
}


iframe{
    width: 800px;
    margin: 0 auto;
    padding-left: 6rem;
    border-radius:  10px;
    border: 6px solid 0 0 11px rgba(33,33,33,.2);
  
}


.sec-wrap{
    
    background-color: #F2F2F2;
    border: 1px solid #ECEAEA;
    border-radius: 20px;
    display: flex;
    /* display: grid;
    grid-template-columns: 2fr 1fr; */
    margin: 20rem -14rem;
    /* justify-content: space-around !important; */
    padding: 2rem 2rem;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.sec-wrap-container{

    margin-top: 10rem;
}

.sec-wrap h1{
    color: var(--rojoch);
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: var(--amarilloch) 1px solid;
    
}

#culiacan{
    z-index: -1;
    margin-top:-11rem;
}

.i-flex{
    display: flex;
}

footer{
    display: flex;
    margin-top: 5rem;
}

.foot-wr{
   justify-content: end;
   

}
footer img{
    width: 4%;
    image-rendering: auto;

}
footer p{
    color: rgb(84, 84, 84);
    font-size: 12px;
    margin-top: 39px;
}

.sal{
    position: fixed;
    left: -100px;
    top: 180px;
    z-index: -1;
}

.sal img{
    width: 70%;
}

.jitomate{
    position:fixed;
    right: 00;
    top:500px;
    z-index: -1;
    
}

.jitomate img{
    width: 70%;
}

.ajo{
    position: fixed;
    bottom: -30px;
    z-index:  -1;
}

  

* {box-sizing: border-box}

img {vertical-align: middle;} 
.mySlides {display: none;
           
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}



/* Next & previous buttons */
.prev, .next {
   cursor: pointer;
  position: absolute;
  top: 70%;
  width: 1;
  padding: 16px;
  margin: 0 ;
  color: #d71227 ;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} 
.prev{
left: 0;
top: 70%;
} 

/* Position the "next button" to the right */
.next {
  right: 0;
 
}

a:hover.prev{
    font-size: 50px;
    border: none;
    color: #d71227;
}

a:hover.next{
    font-size: 50px;
    border: none;
    color: #d71227;
} 


/* On hover, add a black background color with a little bit see-through  */
/* .prev:hover, .next:hover {
  background-color: rgba(203, 197, 197, 0.8);
} */



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots{
    margin-top: -20rem;
}

.active, .dot:hover {
  background-color: #717171;
} 

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;

}

.change{
    padding: 2rem 2rem;
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}


}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}

  .slideshow-container {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin: auto;
  }
  
  .dot {
    cursor: pointer;
    height: 1.5rem;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dots{
      margin-top: 10rem !important;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  } 
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1s;
  
  }

  
  @keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}

}
 

  
}